@import '../global_variables.css';

.footer {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.footer__links a {
  color: var(--color-primary);
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer__links a:hover {
  text-decoration: underline;
}
