@import '../global_variables.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw 4vw;
}

.header {
    box-sizing: border-box;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-image {
    width: auto; /* Maintain aspect ratio */
    max-width: 100%;
    max-height: 105px;
}

.header__nav {
    align-items: center;
    margin-left: auto;
    display: flex;
    gap: 2rem; /* Space between nav links */
}

.header__link {
    position: relative; /* Necesario para posicionar la línea */
    text-decoration: none;
    color: var(--color_primary);
    text-transform: uppercase;
    font-size: 1rem;
    padding: 8px 12px;
    transition: color 0.3s ease; /* Transición suave para el color */
    -webkit-font-smoothing: antialiased;
}

.header__link::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  bottom: -6px;
  background: transparent;
  transition: background-color 180ms linear, transform 180ms ease;
  transform: scaleX(0);
  transform-origin: left center;
}

.header__link:hover {
    color: var(--color_primary_hover);
}

.header__link:hover::after{
  background: var(--color_primary_hover);
  transform: scaleX(1);
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .header__nav {
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap; /* Allow wrapping of header content */
        justify-content: space-between; /* Proper alignment */
    }
    .header__social-media {
        margin-left: 0;
        margin-top: 10px;
        justify-content: center; /* Center icons on smaller screens */
    }
}

/* Social Media Section */
.header__social-media {
    display: flex;
    gap: 18px; /* Space between icons */
    align-items: center;
    margin-left: 2.8vw; /* Push social icons to the right */
}

.header__social-link {
    display: inline-block;
    text-decoration: none; /* Remove underline for links */
}

.header__social-icon {
    fill: var(--color_primary);
    width: 24px; /* Adjust size according to your design */
    height: 24px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.header__social-icon:hover {
    fill: var(--color_primary_hover); /* Cambia el color al pasar el mouse */
}

/* Add hover effect */
.header__social-link:hover .header__social-icon {
    transform: scale(1.5); /* Slight zoom effect on hover */
}