@import '../global_variables.css';

/* Hero Section */
.hero {
    min-height: 100px;
    padding: 4vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
}

.hero__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.hero__gallery-item {
  display: flex;
  flex-direction: column;

}

.hero__gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.hero__gallery-text {
  margin-top: 15px; /* Asegura que el texto no quede pegado a la imagen */
}

.hero__gallery-description {
  align-items: left;
  color: var(--color-primary);
  margin: 4px 0;
}