@import '../global_variables.css';

/* Hero Section */
.hero {
    min-height: 100px;
    padding: 4vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
}

.hero__gallery {
  grid-column-gap: 1.75vw;
  grid-row-gap: 1.75vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  max-width: 1400px;
  width: auto;
}

.hero__gallery-item {
  display: flex;
  flex-direction: column;
}

.hero__gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.hero__gallery-text {
  margin-top: 15px; /* Asegura que el texto no quede pegado a la imagen */
}

.hero__gallery-description {
  align-items: left;
  color: var(--color-primary);
  margin: 4px 0;
}