:root {
  /* Colores principales */
  --color_primary: #8ba9fa;
  --color_primary_hover: #627ff4;
  --color_secondary: #617ef4;
  
  /* Colores del hero section */
  --color_hero_gradient_start: #DDE4F0;
  --color_hero_gradient_end: #DDE4F0;
  --color_hero_shadow_dark: rgba(0, 0, 0, 0.3);

  /* Colores secundarios */
  --color_header_menu: #FFFFFF;
  --color_about_text: #555;
  --color_contact_text: #8ba9fa;;
  --color_footer: #FFFFFF;
  --color_shadow: rgba(0, 0, 0, 0.2);
}