:root {
  --color_primary: #927ffd;
  --color_primary_hover: #6f5bcc;
  --color_gradient_start: #2980b9;
  --color_gradient_middle: #6dd5fa;
  --color_gradient_end: #ffffff;
  --color_footer: #a3b1c9;
  --color_shadow: rgba(0, 0, 0, 0.1);
}