@import 'global_variables.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: transparent;
  color: var(--color-primary); /* Change text color globally */
}

* {
  box-sizing: border-box;
}
