@import 'global_variables.css';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden; /* Evita scroll horizontal accidental */
  font-family: Arial, sans-serif;
  color: var(--color_primary); /* Change text color globally */
  background-image: linear-gradient(to bottom, #ffffff, #fafafc, #f4f4f9, #eeeff7, #e7eaf4, #dbe1f1, #cfd9ee, #c2d1eb, #adc3e7, #97b6e3, #7fa9de, #659cda);
}
